<div class="custom-row">
  <div class="custom-col-md-12">
    <h3>Update Post</h3>
    <hr />

    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
      <div class="custom-mb-3">
        <label>Title</label>
        <input type="text" class="custom-form-control" formControlName="title" />
        <div *ngIf="postForm.get('title')?.touched && !postForm.get('title')?.valid">
          <div *ngIf="postForm.get('title')?.errors?.['required']">
            Title is required
          </div>
          <div *ngIf="postForm.get('title')?.errors?.['minlength']">
            Title should be minimum 6 characters
          </div>
        </div>
      </div>
      <div class="custom-mb-3">
        <label>Description</label>
        <textarea class="custom-form-control" formControlName="description"></textarea>
        <div *ngIf="postForm.get('description')?.touched && !postForm.get('description')?.valid">
          <div *ngIf="postForm.get('description')?.errors?.['required']">
            Description is required
          </div>
          <div *ngIf="postForm.get('description')?.errors?.['minlength']">
            Description should be minimum 10 characters
          </div>
        </div>
      </div>

      <div class="custom-my-3">
        <button type="submit" class="custom-btn custom-btn-primary">Update Post</button>
      </div>
    </form>
  </div>
</div>